<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to our multi-tenant app</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/angular-bootstrap.css" rel="stylesheet" />
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to our multi-tenant app</h1>
			<p>Use the links below to navigate to the different tenants</p>
			<p>
				<a class="btn btn-primary btn-lg" href="login" role="button">Signin</a>
			</p>
		</div>
	</div>
</body>
</html>